<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<#include "/common/common2.ftl"/>
<script type="text/javascript" src="/js/company/add.js">
    
</script>
<style type="text/css">
.col-sm-3 {
	width: 15%;
	float: left;
	text-align: right;
}

.col-sm-9 {
	width: 85%;
	float: left;
	text-align: left;
}

label[class^="btn btn-default"] {
	margin-top: -4px;
}
</style>
</head>
<body>
	<div class="l_err" style="width: 100%; margin-top: 2px;"></div>
	<form id="form" name="form" class="form-horizontal" method="post"
		action="/xxp2t/oaEmployee_do/create.do">
		<section class="panel panel-default">
		<div class="panel-body">
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="col-sm-3 control-label">id:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control checkacc"
						placeholder="请输入id" name="id" id="id">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="col-sm-3 control-label">name:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control checkacc"
						placeholder="请输入name" name="name" id="name">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="col-sm-3 control-label">companyid:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control checkacc"
						placeholder="请输入companyid" name="companyid" id="companyid">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="col-sm-3 control-label">deptid:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control checkacc"
						placeholder="请输入deptid" name="deptid" id="deptid">
				</div>
			</div>
		</div>
		<footer class="panel-footer text-right bg-light lter">
		<button type="submit" class="btn btn-success btn-s-xs">提交</button>
		</footer> </section>
	</form>
	<script type="text/javascript">
        onloadurl();
    </script>
	<script type="text/javascript"
		src="/notebook/notebook_files/bootstrap-filestyle.min.js"></script>
</body>
</html>