<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<#include "/common/common2.ftl"/>
<script type="text/javascript" src="/js/company/edit.js"></script>
</head>
<body>
	<div class="l_err" style="width: 100%; margin-top: 2px;"></div>
	<form id="form" name="form" class="layui-form layui-form-pane" method="post" action="/path/edit.js">
		<section class="panel panel-default">
		<div class="panel-body">
			<div class="layui-form-item">
				<label class="layui-form-label">id:</label>
				<div class="layui-input-block">
					<input type="text" class="form-control" placeholder="请输入id:" value="${oaEmployee.id!}" name="id" id="id">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">name:</label>
				<div class="layui-input-block">
					<input type="text" class="form-control" placeholder="请输入name:" value="${oaEmployee.name!}" name="name" id="name">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">companyid:</label>
				<div class="layui-input-block">
					<input type="text" class="form-control" placeholder="请输入companyid:" value="${oaEmployee.companyid!}" name="companyid" id="companyid">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">deptid:</label>
				<div class="layui-input-block">
					<input type="text" class="form-control" placeholder="请输入deptid:" value="${oaEmployee.deptid!}" name="deptid" id="deptid">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
		</div>
		<footer class="panel-footer text-right bg-light lter">
		<button type="submit" class="btn btn-success btn-s-xs">保存</button>
		</footer> </section>
	</form>
	<script type="text/javascript">
        onloadurl();
    </script>
</body>
</html>