
<html>
<head>
<#include "/common/common2.ftl"/>
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="m-b-md">
				<form class="layui-form-layui-form-pane" role="form" id="searchForm" name="searchForm">
					<div class="layui-form-item">
						<label class="control-label">
							<!-- <span class="h4 font-thin v-middle">名称:</span> -->
						</label>
						<!--  	<input class="layui-input" id="name" name="name">-->
					</div>
					<a href="javascript:void(0)" class="layui-btn layui-btn-normal" @click="query" id="search">查询</a>
					<a class="layui-btn layui-btn-normal" @click="add">
						<i class="fa fa-plus"></i>
						&nbsp;新增
					</a>
					<!--  
				<a class="layui-btn layui-btn-normal" @click="update">
					<i class="fa fa-pencil-square-o"></i>
					&nbsp;修改
				</a>-->
					<a class="layui-btn layui-btn-normal" @click="del">
						<i class="fa fa-trash-o"></i>
						&nbsp;删除
					</a>
					<a class="layui-btn layui-btn-normal" @click="deployment">
						<i class="fa fa-trash-o"></i>
						&nbsp;发布
					</a>
				</form>
			</div>
			<div class="table-responsive">
				<table class="layui-hide" id="acttable"></table>
			</div>
		</div>
		<div v-show="!showList" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="layui-form-layui-form-pane">
				<div class="layui-form-item">
					<label class="layui-form-label">流程名称</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="m.name" placeholder="" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">关键字</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="m.key" placeholder="key" />
					</div>
				</div>
				<footer class="panel-footer text-right bg-light lter">
					<div class="layui-form-item">
						<input type="button" class="layui-btn layui-btn-normal" @click="saveOrUpdate" value="确定" />
						&nbsp;&nbsp;
						<input type="button" class="layui-btn layui-btn-danger" @click="reload" value="返回" />
					</div>
				</footer>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="/js/activiti/activiti.js"></script>
</body>
</html>