<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="baidu-site-verification" content="li4DjXBJKk" />
<title>88云报告 重置密码</title>
<link href="/css/layerui/swiper.min.css" rel="stylesheet">
<link rel="stylesheet" href="/js/plugins/layui/css/layui.css" />
<link rel="stylesheet" href="/admin_files/awesome.css" />
<link rel="stylesheet" href="/css/layerui/style.css" />
<script type="text/javascript" src="/js/plugins/jQuery/jquery-2.3.4.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="/common/base.js"></script>
<script type="text/javascript" src="/common/vue.js"></script>
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div class="container con-bj">
			<canvas id="canv"></canvas>
			<div id="bg-overlay"></div>
			<div class="cls-content">
				<div class="cls-content-sm panel">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide swiper-no-swiping">
								<div class="panel-body">
									<div class="mar-ver">
										<img src="/images/webicon/logo100X100.png" />
										<h3>重置密码</h3>
									</div>
									<div class="layui-form" action="/common/login_do/login.do" method="post" id="loginForm">
										<input type="hidden" value="${encryptInfo}" id="encryptInfo" name="encryptInfo">
										<div class="layui-form-item ipt-text">
											<div class="dp-block">
												<i class="fa fa-lock"></i>
												<input type="password" id="password2" name="password2" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="required">
											</div>
										</div>
										<div class="layui-form-item ipt-text">
											<div class="dp-block">
												<i class="fa fa-lock"></i>
												<input type="password" id="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="required">
											</div>
										</div>
										<div class="layui-form-item">
											<div class="layui-input-inline">
												<input type="text" name="vrifyCode" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
											</div>
											<div class="layui-form-mid layui-word-aux">
												<img name="Kaptcha" alt="验证码" onclick="this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha" id="loginyzm" />
											</div>
										</div>
										<button type="button" class="layui-btn layui-btn-normal layui-btn-disabled dp-block" onclick="checkPassword()" lay-filter="loginForm">提交</button>
									</div>
								</div>
						
								<div class="pad-all">
									<div class="col-6 box-left">
										
										<a href="/" class="reg">返回首页</a>
									</div>
										<!--  
									<div class="col-6 box-right">
										<a target="_blank" class="forgetPass">忘记密码？</a>
									</div>-->
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="switch-bg">
		<div id="switch-bg-list">
			<div class="switch-loading" style="display: none;">
				<img id="bgimg" src="/img/bg_img/bg-img-6.jpg" alt="" class="switch-chg-bg " />
			</div>
			<a target="_blank" href="http://www.miitbeian.gov.cn/" id="SYSTEM_authinfo">{{SYSTEM_authinfo}} </a>
		</div>
	</div>
	<script src="/js/plugins/swiper/swiper.js"></script>
	<script type="text/javascript" src="/js/plugins/layui/layui.js"></script>
	<script src="/js/system/login_reg_fPass.js"></script>
	<script type="text/javascript">
        var app2 = new Vue({
            el : '#SYSTEM_authinfo',
            data : {
                SYSTEM_authinfo : ''
            },
            created : function() {
                var url = "/common/login_do/system_authinfo.do";
                var _self = this;
                $.post(url, function(data) {
                    _self.SYSTEM_authinfo = data;
                })
            }
        });
        var app = new Vue({
            el : '#loginForm',
            data : {},
            methods : {
                weixinlogin : function() {
                    location.href = '/common/weixin_do/tologin.do';
                }
            }
        });
        function strlen(str){
            var len = 0;
            for (var i=0; i<str.length; i++) { 
             var c = str.charCodeAt(i); 
            //单字节加1 
             if ((c >= 0x0001 && c <= 0x007e) || (0xff60<=c && c<=0xff9f)) { 
               len++; 
             } 
             else { 
              len+=2; 
             } 
            } 
            return len;
        }
        function checkPassword() {
            if ($("#password").val() != $("#password2").val()) {
                alert("两次密码不一致");
                return false;
            }
            if (strlen($("#password").val()) < 8) {
                alert("密码太短");
                return false;
            }
            $.ajax({
                url : "/common/login_do/resetpassword.do",
                data : {
                    password : $("#password").val(),
                    encryptInfo : $("#encryptInfo").val()
                },
                type : "post",
                dataType : "json",
                success : function(data) {
                    alert(data.msg);
                }
            });
        }
    </script>
	<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
	<script>
        //百度统计
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?577038104fe0a8e00d90faee2f037aac";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
	<script>
        //腾讯统计
        var _mtac = {};
        (function() {
            var mta = document.createElement("script");
            mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.4";
            mta.setAttribute("name", "MTAH5");
            mta.setAttribute("sid", "500553015");
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(mta, s);
        })();
    </script>
	<script type="text/javascript" src="http://tajs.qq.com/stats?sId=64208831" charset="UTF-8"></script>
</body>
</html>
