<html lang="en" class="bg-dark js no-touch no-android chrome no-firefox no-iemobile no-ie no-ie10 no-ie11 no-ios no-ios7 ipad"">
<head>
<meta property="wb:webmaster" content="5384339811cd5abe" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link href="/favicon.ico" type="image/x-icon" rel=icon>
<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
<title>重置密码－云报告</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/notebook/notebook_files/font.css" />
<link rel="stylesheet" href="/notebook/notebook_files/app.v1.css" />
<script type="text/javascript" src="/js/plugins/jQuery/jquery-2.3.4.min.js"></script>
<script type="text/javascript" src="/js/plugins/layui/lay/modules/layer.js"></script>
<script type="text/javascript">

	layer.config({
		extend : [ 'skin/layer.css' ], //加载新皮肤skin/style.css
		fix : false, // 用于设定层是否不随滚动条而滚动，固定在可视区域。
		skin : 'layui-layer-molv' //一旦设定，所有弹层风格都采用此主题。layui-layer-molv
	});
</script>
<script type="text/javascript" src="/common/base.js"></script>
<script type="text/javascript">
function checkPassword(){
    if($("#password").val()!=$("#password2").val()){
        alert("两次密码不一致");
        return false;
    }
    
   if($("#password").val().length<8){
       alert("密码太短");
       return false;
   }

    $.ajax({ url: "/common/login_do/resetpassword.do", 
        data:{password:$("#password").val(),
        encryptInfo:$("#encryptInfo").val()
        }, 
        type:"post",
        dataType:"json",
        success: function(data){
            alert(data.msg);     
   			 }    
      });   
}
</script>
</head>
<body class="">
	<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
		<div class="container aside-xxl">
			<div style="text-align: center;">
				<img src="/images/webicon/logo.png" width="100%" />
			</div>
			<section class="panel panel-default bg-white m-t-lg">
				<header class="panel-heading text-center">
					<strong>重置密码</strong>
				</header>
				<div class="panel-body wrapper-lg">
					<input type="hidden" value="${encryptInfo}" id="encryptInfo" name="encryptInfo">
					<div class="layui-form-item">
						<label class="control-label">密码</label>
						<input type="password" placeholder="请输入密码" id="password" name="password" class="form-control input-lg">
					</div>
					<div class="layui-form-item">
						<label class="control-label">确认密码</label>
						<input type="password" placeholder="请输入密码" id="password2" name="password2" class="form-control input-lg">
					</div>
					<div class="layui-form-item">
						<label class="control-label">验证码</label><label><img alt="验证码" onclick = "this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha" />  </label>
						<input type="text" placeholder="请输入验证码" required="required" id="vrifyCode" name="vrifyCode" class="form-control input-sm" style="width: 30%;display: inline;">
					</div>
					<button type="submit" class="btn btn-primary" onclick="checkPassword()">确定</button>
					<div class="line line-dashed"></div>
					<p class="text-muted text-center">
						<small>已经不需要重置？</small>
					</p>
					<a href="/common/login_do/tologin.do" class="btn btn-default btn-block">登陆</a>
				</div>
			</section>
		</div>
	</section>
	<!-- footer -->
	<footer id="footer">
		<div class="text-center padder">
			<p>
				<small>
					您的报告无处不在
					<br>
					© Deament所有
				</small>
			</p>
		</div>
	</footer>
	<!-- / footer -->
	<!-- Bootstrap -->
	<!-- App -->
</body>
</html>
<script type="text/javascript">
	<#if error??>
	if ("${error!}" != "") {		  
	layer.tips('${error!}', '#username', {
 	 tips: [1, '#FF3333'] //还可配置颜色
	});    
	};
	</#if>
	//tologin();
	</script>