<html>
<head>
<#include "/common/common2.ftl"/>
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="m-b-md">
				<form class="layui-form-layui-form-pane" role="form" id="searchForm" name="searchForm">
					<div class="layui-form-item">
						<label class="layui-form-label"> 支付类型: </label>
						<div class="layui-input-inline">
							<input class="layui-input" id="paytype" name="paytype">
						</div>
						<a href="javascript:void(0)" class="layui-btn layui-btn-normal" @click="query" id="search">查询</a>
						<a class="layui-btn layui-btn-normal" @click="add">
							<i class="fa fa-plus"></i>
							&nbsp;新增
						</a>
						<a class="layui-btn layui-btn-normal" @click="update">
							<i class="fa fa-pencil-square-o"></i>
							&nbsp;修改
						</a>
						<a class="layui-btn layui-btn-normal" @click="del">
							<i class="fa fa-trash-o"></i>
							&nbsp;删除
						</a>
					</div>
				</form>
			</div>
			<div class="table-responsive">
				<table class="layui-hide" id="sellertable"></table>
			</div>
		</div>
		<div v-show="!showList" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="layui-form-layui-form-pane">
				<div class="layui-form-item">
					<label class="layui-form-label">商户ID</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="seller.partner" placeholder="商户ID" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">应用ID</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="seller.appid" placeholder="应用ID" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">公钥</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="seller.publickey" placeholder="公钥" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">私钥</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="seller.privatekey" placeholder="私钥" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">异步回调地址</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="seller.notifyurl" placeholder="异步回调地址" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">同步回调地址</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="seller.returnurl" placeholder="同步回调地址" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">收款帐号</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="seller.seller" placeholder="收款帐号" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">签名类型</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="seller.signtype" placeholder="签名类型" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">支付类型</label>
					<div class="layui-input-block">
						<select class="layui-input" v-model="seller.paytype">
							<option value="aliPay">支付宝</option>
							<option value="wxPay">微信</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">消息类型</label>
					<div class="layui-input-block">
						<select class="layui-input" v-model="seller.msgtype">
							<option value="text">文本</option>
							<option value="xml">XML</option>
							<option value="json">Json</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">是否测试</label>
					<div class="layui-input-block">
						<select class="layui-input" v-model="seller.test">
							<option value="1">是</option>
							<option value="0">否</option>
						</select>
					</div>
				</div>
				<footer class="panel-footer text-right bg-light lter">
					<div class="layui-form-item">
						<input type="button" class="layui-btn layui-btn-normal" @click="saveOrUpdate" value="确定" />
						&nbsp;&nbsp;
						<input type="button" class="layui-btn layui-btn-danger" @click="reload" value="返回" />
					</div>
				</footer>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="/js/pay/seller.js"></script>
</body>
</html>