<html>
<head>
<#include "/common/common2.ftl"/>
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="m-b-md">
				<form class="layui-form layui-form-pan" role="form" id="searchForm" name="searchForm">
					<div class="layui-form-item">
						<label class="control-label">
							<span class="h4 font-thin v-middle">任务:</span>
						</label>
						<input class="form-control" id="name" name="name">
					</div>
					<a href="javascript:void(0)" class="btn btn-s-md btn-default btn-rounded" id="search" @click="reload">查询</a>
				</form>
			</div>
			<header class="panel-heading">
				<div class="doc-buttons"></div>
			</header>
			<div class="table-responsive">
				<table class="layui-hide" id="joblogtable2"></table>
			</div>
		</div>
	</div>
	<script  src="/js/quartz/log/list.js"></script>
</body>
</html>