<html>
<head>
<#include "/common/common2.ftl"/>
</head>
<body>
	<script type="text/javascript" src="/js/edu/school/school.js"></script>
	<div class="m-b-md">
		<form class="layui-form layui-form-pane" role="form" id="searchForm" name="searchForm">
			<div class="layui-form-item">
				<label class="control-label">
					<span class="h4 font-thin v-middle">表:</span>
				</label>
				<input class="layui-input" id="table_name" name="table_name">
			</div>
			<a href="javascript:void(0)" class="btn btn-s-md btn-default btn-rounded" id="search">查询</a>
		</form>
	</div>
	<header class="panel-heading">
		<div class="doc-buttons">
			<button type="button" class="layui-btn layui-btn-danger ">删除学校</button>
			<button type="button" class="layui-btn layui-btn-normal ">新增学校</button>
			<button type="button" class="layui-btn layui-btn-normal ">更新学校</button>
		</div>
	</header>
	<div class="table-responsive">
		<div id="paging" class="pagclass"></div>
	</div>
</body>
</html>