<style type="text/css">
.tree {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #fbfbfb;
	border: 0px solid #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	width: 100%;
	height: 100%;
}

.tree li {
	list-style-type: none;
	margin: 0;
	padding: 10px 5px 0 5px;
	position: relative
}

.tree li::before, .tree li::after {
	content: '';
	left: -20px;
	position: absolute;
	right: auto
}

.tree li::before {
	border-left: 1px solid #999;
	bottom: 50px;
	height: 100%;
	top: 0;
	width: 1px
}

.tree li::after {
	border-top: 1px solid #999;
	height: 20px;
	top: 25px;
	width: 25px
}

.tree li span {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999;
	border-radius: 5px;
	display: inline-block;
	padding: 3px 8px;
	text-decoration: none;
	font-size: 20px;
}

.tree li b {
	font-size: 20px;
}

.tree li.parent_li>span {
	cursor: pointer
}

.tree>ul>li::before, .tree>ul>li::after {
	border: 0
}

.tree li:last-child::before {
	height: 30px
}

.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span
	{
	background: #eee;
	border: 1px solid #94a0b4;
	color: #000
}
</style>
<section id="content">
	<div class="tree well">
		<ul>
			<#list page as s1>
			<li>
				<span>
					<i class="fa fa-folder-open"></i>
					${s1.name!}
				</span>
				<div class="btn-group">
					<button type="button" class="btn btn-default" onclick="editFun('${s1.id}')">修改</button>
					<button type="button" class="btn btn-default" onclick="delFun('${s1.id}')">删除</button>
				</div>				
				<#list s1.children as s2>
				<ul>
					<li>
						<span>
							<i class="fa fa-folder-open"></i>
							${s2.name}
						</span>
						<div class="btn-group">
							<button type="button" class="btn btn-default" onclick="editFun('${s2.id}')">修改</button>
							<button type="button" class="btn btn-default" onclick="delFun('${s2.id}')">删除</button>
						</div>
						<b class="bg-primary">url:${s2.resUrl!}</b>
						<#list s2.children as s3>
						<ul>
							<li>
								<span>
									<i class="fa fa-file-o"></i>
									${s3.name}
								</span>
								<div class="btn-group">
									<button type="button" class="btn btn-default" onclick="editFun('${s3.id}')">修改</button>
									<button type="button" class="btn btn-default" onclick="delFun('${s3.id}')">删除</button>
								</div>
								<b class="bg-primary">url:${s3.resUrl!}</b>
							
							</li>
						</ul>
						</#list>
					</li>
				</ul>
				</#list>
			</li>
			</#list>
		</ul>
	</div>
</section>
<script type="text/javascript">
    $(function() {
        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
        $('.tree li.parent_li > span').on('click', function(e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expand this branch').find(' > i').addClass('fa-folder').removeClass('fa-folder-open');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this branch').find(' > i').addClass('fa-folder-open').removeClass('fa-folder');
            }
            e.stopPropagation();
        });
    });
</script>