<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<#include "/common/common2.ftl"/>
<script type="text/javascript" src="/js/gzbg/company/edit.js"></script>
<style type="text/css">
.col-sm-3 {
	width: 15%;
	float: left;
}

.col-sm-9 {
	width: 85%;
	float: left;
}
</style>
</head>
<body>
	<div class="l_err" style="width: 100%; margin-top: 2px;"></div>
	<form id="form" name="form" class="form-horizontal" method="post" action="/gzbg/company_do/update.do">
		<input type="hidden" class="form-control checkacc" value="${updatecompany.id}" name="id" id="id">
		<section class="panel panel-default">
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">公司名称</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="请输入公司名称" value="${updatecompany.name!}" name="name" id="name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">公司LOGO</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="请输入公司LOGO" value="${updatecompany.logo!}" name="logo" id="logo">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">公司成立时间</label>
				<div class="col-sm-9">
					<input type="date" class="form-control" placeholder="请输入公司成立时间" value="${updatecompany.clsj!}" name="clsj" id="clsj">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="form-group">
				<label class="col-sm-3 control-label">负责人</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="请输入负责人" value="${updatecompany.fzr!}" name="fzr" id="fzr">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">负责人联系电话</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="请输入负责人联系电话" value="${updatecompany.fzrlxdh!}" name="fzrlxdh" id="fzrlxdh">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="form-group">
				<label class="col-sm-3 control-label">公司地址</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="请输入公司地址" value="${updatecompany.dz!}" name="dz" id="dz">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="form-group">
				<label class="col-sm-3 control-label">助理</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="请输入助理" value="${updatecompany.zl!}" name="zl" id="zl">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">助理联系电话</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="请输入助理联系电话" value="${updatecompany.zllxdh!}" name="zllxdh" id="zllxdh">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="form-group">
				<label class="col-sm-3 control-label">公司描述</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="请输入公司描述" value="${updatecompany.description!}" name="description" id="description">
				</div>
			</div>
		</div>
		<footer class="panel-footer text-right bg-light lter">
		<button type="submit" class="btn btn-success btn-s-xs">保存</button>
		</footer> </section>
	</form>
	<script type="text/javascript">
        onloadurl();
    </script>
</body>
</html>