<script type="text/javascript" src="/js/gzbg/company/list.js"></script>
<div class="m-b-md">
	<form class="form-inline" role="form" id="searchForm" name="searchForm">
		<div class="form-group">
			<label class="control-label">
				<span class="h4 font-thin v-middle">公司名称:</span>
			</label>
			<input class="input-medium ui-autocomplete-input" id="name" name="name">
		</div>
		<div class="form-group">
			<label class="control-label">
				<div class="doc-buttons">
					<#list res as key> ${key.description!} </#list>
					<a href="javascript:grid.exportData('/user/export.shtml')" class="btn btn-info" id="search">导出excel</a>
				</div>
			</label>
		</div>
	</form>
</div>
<div class="table-responsive">
	<div id="paging" class="pagclass"></div>
</div>
<div id="callback_div" class="table-responsive" style="display: none;">
	<div id="paging_callback" class="pagclass"></div>
</div>
