var vm = new Vue({
	el:'#rrapp',
	data:{
		showList: true,
		title: null,
		${classname}: {}
	},
	methods: {
		query: function () {
			vm.reload();
		},
		add: function(){
			vm.showList = false;
			vm.title = "新增";
			vm.${classname} = {};
		},
		update: function (event) {
			var $pk.attrname = getSelectedRow('${classname}table','${pk.attrname}');
			if($pk.attrname == null){
				return ;
			}
			vm.showList = false;
            vm.title = "修改";
            
            vm.getInfo(${pk.attrname})
		},
		saveOrUpdate: function (event) {
			var url = vm.${classname}.${pk.attrname} == null ? "${pathName}create.do" : "${pathName}update.do";
			$.ajax({
				type: "POST",
			    url: rootPath + url,
                contentType: "application/json",
			    data: JSON.stringify(vm.${classname}),
			    success: function(r){
				vm.reload();
				alert(r.msg);
			    	
				}
			});
		},
		del: function (event) {
			var ${pk.attrname}s = getSelectedRows('${classname}table','${pk.attrname}');
			if(${pk.attrname}s == null){
				return ;
			}			
			confirm('确定要删除选中的记录？', function(){
				$.ajax({
					type: "POST",
				    url: rootPath + "${pathName}remove.do",
				    data : {
                        ids : ${pk.attrname}s
                    },				   
				    success: function(r){
						
							alert(r.msg);
						
					}
				});
			});
		},
		getInfo: function(${pk.attrname}){
			$.get(rootPath + "${pathName}get.do?id="+${pk.attrname}, function(r){
                vm.${classname} = r.${classname};
            });
		},
		reload: function (event) {
			
	            vm.showList = true;
	           layui.use('table', function() {
                var table = layui.table;
                table.render({
                    elem : '#${classname}table' // 选定是那个DIV
                    ,
                    url : rootPath + '${pathName}list.do',
                    cols : [
                        [
                            {
                                type : 'checkbox'
                            }
                              #foreach($column in $columns)  
                            , {
                                field : '${column.attrname}',
                                title : '${column.comments}',
                                minWidth : 100,
                                templet : function(data) {
                                   // if (data.state == 0) {
                                    //    return "正常";
                                   // }
                                   // if (data.state == 1) {
                                   //     return "<font color='red'>刪除</font>";
                                  //  }
                                  //  return "数据异常";
                                  return data.${column.attrname};
                                }
                            } #end
                            ] ],
                    page : true, // 开启分页
                    request : laypagerequest,
                    response : laypageresponse,
                    where : $("#searchForm").serializeJSON()
                });
            });
        }
		
	}
});


