<html>
<head>
<#include "/common/common2.ftl"/>
</head>
<body>
<script src="${rc.contextPath}/js/generator/${pathName}.js"></script>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			
			<a class="layui-btn layui-btn-normal" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			
			<a class="layui-btn layui-btn-normal" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			
			<a class="layui-btn layui-btn-normal" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			
		</div>
	    <div class="table-responsive">
			<div id="paging" class="pagclass"></div>
		</div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
		#foreach($column in $columns)
		#if($column.columnName != $pk.columnName)
			<div class="form-group">
			   	<div class="col-sm-2 control-label">${column.comments}</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="${classname}.${column.attrname}" placeholder="${column.comments}"/>
			    </div>
			</div>
		#end
		#end
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="layui-btn layui-btn-normal" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
</body>
</html>
