<html>
<head>
<#include "/common/common2.ftl"/>
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="m-b-md">
				<form class="layui-form-layui-form-pane" role="form" id="searchForm" name="searchForm">
					<div class="layui-form-item">
						<label class="layui-form-label"> 任务: </label>
						<div class="layui-input-inline">
							<input class="layui-input" id="name" name="name">
						</div>
						<a href="javascript:void(0)" class="layui-btn layui-btn-normal" @click="query" id="search">查询</a>
					</div>
				</form>
			</div>
			<header class="panel-heading">
				<div class="doc-buttons">
					<a class="layui-btn layui-btn-normal" @click="add">
						<i class="fa fa-plus"></i>
						&nbsp;新增
					</a>
					<a class="layui-btn layui-btn-normal" @click="update">
						<i class="fa fa-pencil-square-o"></i>
						&nbsp;修改
					</a>
					<a class="layui-btn layui-btn-normal" @click="del">
						<i class="fa fa-trash-o"></i>
						&nbsp;删除
					</a>
					<a class="layui-btn layui-btn-normal" @click="pause">
						<i class="fa fa-pause"></i>
						&nbsp;暂停
					</a>
					<a class="layui-btn layui-btn-normal" @click="resume">
						<i class="fa fa-play"></i>
						&nbsp;恢复
					</a>
					<a class="layui-btn layui-btn-normal" @click="runOnce">
						<i class="fa fa-arrow-circle-right"></i>
						&nbsp;立即执行
					</a>
				</div>
			</header>
			<div class="table-responsive">
				<table class="layui-hide" id="jobtable"></table>
			</div>
		</div>
		<div v-show="!showList" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="layui-form-layui-form-pane">
				<div class="layui-form-item">
					<label class="layui-form-label">bean名称</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="schedule.beanName" placeholder="spring bean名称，如：testTask" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">方法名称</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="schedule.methodName" placeholder="方法名称" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">参数</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="schedule.params" placeholder="参数" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">cron表达式</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="schedule.cronExpression" placeholder="如：0 0 12 * * ?" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">备注</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" v-model="schedule.remark" placeholder="备注" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label"></label>
					<input type="button" class="layui-btn layui-btn-normal" @click="saveOrUpdate" value="确定" />
					&nbsp;&nbsp;
					<input type="button" class="layui-btn layui-btn-danger" @click="reload" value="返回" />
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="/js/quartz/job/list.js"></script>
</body>
</html>