
<script type="text/javascript" src="/js/system/log/list.js"></script>
<div class="m-b-md">
	<form class="form-inline" role="form" id="searchForm" name="searchForm">
		<div class="form-group">
			<label class="control-label">
				<span class="h4 font-thin v-middle">模块:</span>
			</label>
			<input class="form-control" id="module" name="module" placeholder="模块">
		</div>
		<div class="form-group">
			<label class="control-label">
				<span class="h4 font-thin v-middle">功能:</span>
			</label>
			<input class="form-control" id="methods" name="methods" placeholder="功能">
		</div>
		<div class="form-group">
			<label class="control-label">
				<span class="h4 font-thin v-middle">账号:</span>
			</label>
			<input class="form-control" id="accountname" name="accountname" placeholder="用户账号">
		</div>
		<div class="form-group">
			<label class="control-label">
				<span class="h4 font-thin v-middle">用户IP:</span>
			</label>
			<input class="form-control" id="userip" name="userip" placeholder="用户IP">
		</div>
		<a href="javascript:void(0)" class="btn btn-s-md btn-default btn-rounded" id="search">查询</a>
	</form>
</div>
<div class="table-responsive">
	<div id="paging" class="pagclass"></div>
</div>
