<html lang="en" class="app">
<head>
<#include "/common/common.ftl"/>
<script type="text/javascript">
    function modifypwd() {
        if ($("#password").val().length < 8) {
            alert("密码太短");
            return false;
        }
        if ($("#password").val() != $("#chpassword").val()) {
            alert("两次密码不一样");
            return false;
        }
        $("#modifypwd").ajaxSubmit({
            type : 'post', // 提交方式 get/post
            url : '/common/login_do/modifypwd.do', // 需要提交的 url
            data : {},
            dataType : "json",
            success : function(data) { // data 保存提交后返回的数据，一般为 json 数据
                alert(data.msg);
            }
        });
        $("#modifypwd").resetForm(); // 提交后重置表单
        return false;
    }
</script>
</head>
<body>
	<section class="vbox">
		<header class="bg-dark dk header navbar navbar-fixed-top-xs" id="SYSTEM_HEAD">
			<!-- 头部 -->
		</header>
		<section>
			<section class="hbox stretch">
				<!-- .aside -->
				<aside class="bg-dark lter aside-md hidden-print hidden-xs" id="nav">
					<section class="vbox" id="SYSTEM_MENU">
						<!-- 菜单 -->
					</section>
				</aside>
				<!-- /.aside -->
				<section id="content">
					<section id="id_vbox" class="vbox bg-white">
						<ul class="breadcrumb no-border no-radius b-b b-light" id="topli">
							<!-- 目录条 -->
						</ul>
						<section class="scrollable padder" style="margin-top: 35px;">
							<div id="loadhtml">
								<!-- 内容加载区 -->
							</div>
						</section>
					</section>
				</section>
				<aside class="bg-light lter b-l aside-md hide" id="notes">
					<div class="wrapper">Notification</div>
				</aside>
			</section>
		</section>
	</section>
	<!-- Bootstrap -->
	<div id="flotTip" style="display: none; position: absolute;"></div>
	<div class="modal fade" id="modal-form">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-6 b-r">
							<h3 class="m-t-none m-b">修改密码</h3>
							<p>
								您知道吗 ？捐助我可以申请修改更短的账号名称。
								<a href="#" class="bg-warning">
									开通VIP
									<i class="fa fa-arrow-circle-right icon"></i>
								</a>
							</p>
							<form id="modifypwd" onsubmit="return false;">
								<div class="form-group">
									<label>新密码</label>
									<input id="password" name="password" type="password" class="form-control" placeholder="New Password">
								</div>
								<div class="form-group">
									<label>确认密码</label>
									<input id="chpassword" name="chpassword" type="password" class="form-control" placeholder="Confirm Password">
								</div>
								<div class="checkbox m-t-lg">
									<button type="submit" onclick="modifypwd()" class="btn btn-sm btn-success pull-right text-uc m-t-n-xs">
										<strong>确定</strong>
									</button>
								</div>
							</form>
						</div>
						<div class="col-sm-6">
							<h4>什么样的密码安全?</h4>
							<p>1.密码长于8位</p>
							<p>2.密码包含大小写和数字 最好有特殊符号</p>
							<p>3.密码不要和任何平台的相同，部分网站是明文存储，有泄露风险。我平台绝对是无明文，且密码二次加密。放心使用</p>
							<p>4.不要把密码随意告诉任何人。必须确认有相关安全常识。</p>
							<p>5.未来添加第三方平台绑定，尽量少使用密码登陆。</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</body>
</html>
<script type="text/javascript">
    $("#SYSTEM_HEAD").load("/common/login_do/head.do");
    $("#SYSTEM_MENU").load("/common/login_do/menu.do");
</script>