 欢迎来到88云报告
<div class="row">
	<div class="col-xs-6">
		<h4>捐助我</h4>
		<p>
			<a href="#">支付地址</a>
		</p>
		<p>
			一个独立开发的团队
			<br>
			Deament ，中国
			<br>
			广东
		</p>
		<p>
			电话号码: 88888888
			<br>
			团队微信: Deament
		</p>
	</div>
	<div class="col-xs-6 text-right">
		<p class="h4">成立时间</p>
		<h5>2016年 九月</h5>
	</div>
</div>
<div class="well m-t">
	<div class="row">
		<div class="col-xs-6">
			<strong>企业服务项目:</strong>
			<h4>企业</h4>
			<p>
				提供部门管理
				<br>
				提供员工管理
				<br>
				员工工作报告
				<br>
				查看工作进度
				<br>
				项目管理
				<br>
				是否收费：长期不收费
				<br>
			</p>
		</div>
		<div class="col-xs-6">
			<strong>个人服务项目:</strong>
			<h4>员工</h4>
			<p>
				编写工作报告
				<br>
				编辑工作进度
				<br>
				分享工作经验
				<br>
				收藏工作经验
				<br>
				是否收费：长期不收费
				<br>
			</p>
		</div>
	</div>
</div>
<p class="m-t m-b">
	本系统开发情况:
	<strong>开发中</strong>
	<br>
	本系统正在开发的模块:
	<span class="label bg-success">企业管理</span>
	<br>
	编写日期:
	<strong>2017年五月30日</strong>
</p>
<div class="line"></div>
<table class="table">
	<thead>
		<tr>
			<th width="60">ID</th>
			<th>描述</th>
			<th width="140">开发时间</th>
			<th width="90">耗时</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>企业管理</td>
			<td>超管 创建企业</td>
			<td>2017年五月30日</td>
		</tr>
		<tr>
			<td>2</td>
			<td>部门管理</td>
			<td>超管 创建部门</td>
			<td>2017年五月30日</td>
		</tr>
		<tr>
			<td colspan="3" class="text-right">
				<strong>总耗时</strong>
			</td>
			<td>三个月</td>
		</tr>
		<tr>
			<td colspan="3" class="text-right no-border">
				<strong>中断事件</strong>
			</td>
			<td>三个月</td>
		</tr>
		<tr>
			<td colspan="3" class="text-right no-border">
				<strong>其他</strong>
			</td>
			<td>无</td>
		</tr>
		<tr>
			<td colspan="3" class="text-right no-border">
				<strong>编写人员</strong>
			</td>
			<td>
				<strong>超级管理员</strong>
			</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
    $("#topli").html("<li><i class=\"fa fa-home\"></i>Home</li>");
</script>