<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<title>后台管理系统登录-注册-忘记密码</title>
<link href="//cdn.bootcss.com/Swiper/3.4.1/css/swiper.min.css" rel="stylesheet">
<link rel="stylesheet" href="/js/plugins/layui/css/layui.css" />
<link rel="stylesheet" href="/admin_files/awesome.css" />
<link rel="stylesheet" href="/css/layerui/style.css" />
<script type="text/javascript" src="/js/plugins/jQuery/jquery-2.3.4.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="/js/layer-v1.9.2/layer/layer.js"></script>
<script type="text/javascript" src="/common/base.js"></script>
<script type="text/javascript" src="/common/vue.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
</head>
<body>
	<div class="layui-layout layui-layout-admin">
		<div class="container con-bj">
			<canvas id="canv"></canvas>
			<div id="bg-overlay"></div>
			<div class="cls-content">
				<div class="cls-content-sm panel">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide swiper-no-swiping">
								<div class="panel-body">
									<div class="mar-ver">
										<img src="/images/webicon/logo100X100.png" />
										<h3>请绑定系统账号</h3>
									</div>
									<form class="layui-form" action="/common/weixin_do/bund.do" id="loginForm">
										<input type="hidden" name="openid" id="openid" value="${openid!}">
										<div class="layui-form-item ipt-text">
											<div class="dp-block">
												<i class="fa fa-user"></i>
												<input type="text" name="username" placeholder="请输入账号" autocomplete="off" class="layui-input" lay-verify="required">
											</div>
										</div>
										<div class="layui-form-item ipt-text">
											<div class="dp-block">
												<i class="fa fa-lock"></i>
												<input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input" lay-verify="required">
											</div>
										</div>
										<div class="layui-form-item">
											<div class="layui-input-inline">
												<input type="text" name="vrifyCode" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
											</div>
											<div class="layui-form-mid layui-word-aux">
												<img name="Kaptcha" alt="验证码" onclick="this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha" />
											</div>
										</div>
										<button type="button" class="layui-btn layui-btn-normal layui-btn-disabled dp-block" lay-submit lay-filter="loginForm" onclick="tologin()">绑定</button>
									</form>
								</div>
								<div class="pad-all">
									<div class="col-6 box-left">
										
										<a href="/common/login_do/login.do" class="reg">返回主页</a>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="switch-bg">
		<div id="switch-bg-list">
			<div class="switch-loading" style="display: none;">
				<img id="bgimg" src="/img/bg_img/bg-img-6.jpg" alt="" class="switch-chg-bg " />
				<!-- 
			
				<img src="/img/bg_img/thumbs/bg-trns.jpg" alt="" class="switch-chg-bg bg-trans active">
				<img src="/img/bg_img/bg-img-1.jpg" alt="" class="switch-chg-bg" />
				<img src="/img/bg_img/bg-img-2.jpg" alt="" class="switch-chg-bg " />
				<img src="/img/bg_img/bg-img-3.jpg" alt="" class="switch-chg-bg " />
				<img src="/img/bg_img/bg-img-4.jpg" alt="" class="switch-chg-bg " />
				<img  src="/img/bg_img/bg-img-5.jpg" alt="" class="switch-chg-bg " />
				
				<img src="/img/bg_img/bg-img-7.jpg" alt="" class="switch-chg-bg " /> -->
			</div>
			<a target="_blank" href="http://www.miitbeian.gov.cn/" id="SYSTEM_authinfo">{{SYSTEM_authinfo}} </a>
		</div>
	</div>
	<script src="/js/plugins/swiper/swiper.js"></script>
	<script type="text/javascript" src="/js/plugins/layui/layui.js"></script>
	<script src="/js/system/login_reg_fPass.js"></script>
	<script type="text/javascript">
        var app2 = new Vue({
            el : '#SYSTEM_authinfo',
            data : {
                SYSTEM_authinfo : ''
            },
            created : function() {
                var url = "/common/login_do/system_authinfo.do";
                var _self = this;
                $.post(url, function(data) {
                    _self.SYSTEM_authinfo = data;
                })
            }
        });
        if ("${error!}" != "") {
            alert('${error!}');
        };
    </script>
</body>
</html>
