
<script src="${rc.contextPath}/js/generator//edu/sinauser_do/.js"></script>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			$save
			<a class="layui-btn layui-btn-normal" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			$end
			$update
			<a class="layui-btn layui-btn-normal" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			$end
			$delete
			<a class="layui-btn layui-btn-normal" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			$end
		</div>
	    <div class="table-responsive">
			<div id="paging" class="pagclass"></div>
		</div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sinaUser.userid" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sinaUser.uid" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sinaUser.gmtCreate" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sinaUser.gmtModified" placeholder=""/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="layui-btn layui-btn-normal" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="layui-btn layui-btn-danger" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>


