<html>
<head>
<#include "/common/common2.ftl"/>
</head>
<body>
	<div id="rrapp">
		<div class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">社交平台</div>
					<div class="col-sm-10">
						<select class="form-control" v-model="thirdpart">
							<option value="2">微信</option>
							<option value="3">新浪</option>
							<option value="4">百度</option>
							<option value="5">QQ</option>
							<option value="6">Github</option>
							<option value="7">阿里</option>
						</select>
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 3">
					<div class="col-sm-2 control-label">新浪APPid</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="sina.client_ID" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 3">
					<div class="col-sm-2 control-label">新浪密钥</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="sina.client_SERCRET" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 4">
					<div class="col-sm-2 control-label">百度APPid</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="baidu.client_ID" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 4">
					<div class="col-sm-2 control-label">百度密钥</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="baidu.client_SERCRET" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 2">
					<div class="col-sm-2 control-label">微信APPid</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="weixin.appId" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 2">
					<div class="col-sm-2 control-label">微信密钥</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="weixin.secret" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 5">
					<div class="col-sm-2 control-label">qqAPPid</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="qq.client_ID" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 5">
					<div class="col-sm-2 control-label">qq密钥</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="qq.client_SERCRET" placeholder="" />
					</div>
				</div>
					<div class="form-group" v-show="thirdpart == 6">
					<div class="col-sm-2 control-label">GithubAPPid</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="github.client_ID" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 6">
					<div class="col-sm-2 control-label">Github密钥</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="github.client_SERCRET" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 7">
					<div class="col-sm-2 control-label">支付宝APPid</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="ali.client_ID" placeholder="" />
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 7">
					<div class="col-sm-2 control-label">支付宝商户密钥</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="ali.client_SERCRET" placeholder="2048位" />
					</div>
				</div>
				<div class="form-group" v-show="thirdpart == 7">
					<div class="col-sm-2 control-label">支付宝公钥</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="ali.alipublickey" placeholder="" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<input type="button" class="btn btn-primary" @click="update" value="确定" />
				</div>
			</form>
		</div>
		<font color="red">1.4 版本开始 ，社交设置不需要再配置 回调地址了。而且 所有平台都支持社交配置</font>
	</div>
	<script type="text/javascript" src="/js/system/thirdpart/thirdpart.js">
        
    </script>
</body>
</html>