<div class="closeLeftNav" id="closeLeftNav">
	<i class="iconfont icon-sanhang"></i>
</div>
<div class="layui-left-box">
	<div class="navBar layui-side-scroll" style="height: 768px;">
		<ul class="layui-nav layui-nav-tree">
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="iconfont icon-jigou" data-icon="icon-jigou"></i>
					<cite>机构详情</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="./src/broker_infoId.html">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>机构资料</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;" data-url="./src/app_manage.html">
					<i class="iconfont icon-552cc21bdf398-copy" data-icon="icon-552cc21bdf398-copy"></i>
					<cite>应用资料</cite>
				</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;" data-url="./src/authenticationUser_list.html">
					<i class="iconfont icon-renzheng" data-icon="icon-renzheng"></i>
					<cite>认证记录</cite>
				</a>
			</li>
			<li class="layui-nav-item layui-nav-itemed">
				<a href="javascript:;">
					<i class="iconfont icon-zhangdan" data-icon="icon-zhangdan"></i>
					<cite>账单管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="layui-this">
						<a href="javascript:;" data-url="./src/order_list.html">
							<i class="iconfont icon-chongdianjilu" data-icon="icon-chongdianjilu"></i>
							<cite>充值记录</cite>
						</a>
					</dd>
					<dd>
						<a href="javascript:;" data-url="./src/companyInfo_list.html">
							<i class="iconfont icon-koufeimingxi" data-icon="icon-koufeimingxi"></i>
							<cite>扣费统计</cite>
						</a>
					</dd>
					<dd>
						<a href="javascript:;" data-url="./src/payInfo.html">
							<i class="iconfont icon-shenqingtuikuandedingdan" data-icon="icon-shenqingtuikuandedingdan"></i>
							<cite>退款申请</cite>
						</a>
					</dd>
					<dd>
						<a href="javascript:;" data-url="./src/drawbackApplyInfo.html">
							<i class="iconfont icon-chongzhi" data-icon="icon-chongzhi"></i>
							<cite>充值</cite>
						</a>
					</dd>
					<dd>
						<a href="javascript:;" data-url="./src/invoice_info.html">
							<i class="iconfont icon-fapiao" data-icon="icon-fapiao"></i>
							<cite>发票申请</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;" data-url="./src/companyQuestion_art.html">
					<i class="iconfont icon-fankui" data-icon="icon-fankui"></i>
					<cite>技术问题反馈</cite>
				</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;" data-url="./src/sdk_doc_dow.html">
					<i class="iconfont icon-wendang" data-icon="icon-wendang"></i>
					<cite>SDK和接入文档</cite>
				</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="layui-icon" data-icon=""></i>
					<cite>Layui官方文档</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="javascript:;" data-url="http://www.layui.com/doc/">
							<i class="iconfont icon-wendang" data-icon="icon-wendang"></i>
							<cite>Layui文档</cite>
						</a>
					</dd>
					<dd>
						<a href="javascript:;" data-url="http://www.layui.com/doc/">
							<i class="iconfont icon-anlizhanshi" data-icon="icon-anlizhanshi"></i>
							<cite>Layui示例</cite>
						</a>
					</dd>
					<dd>
						<a href="javascript:;" data-url="http://fly.layui.com/">
							<i class="iconfont icon-shequ" data-icon="icon-shequ"></i>
							<cite>Fly社区</cite>
						</a>
					</dd>
					<dd>
						<a href="javascript:;" data-url="http://fly.layui.com/">
							<i class="iconfont icon-zujianku" data-icon="icon-zujianku"></i>
							<cite>独立组件</cite>
						</a>
					</dd>
				</dl>
			</li>
			<span class="layui-nav-bar" style="top: 157.5px; height: 0px; opacity: 0;"></span>
		</ul>
	</div>
</div>