
<script type="text/javascript">
    function selectsystem() {
        var select_val = $("#selectsystem_id").val();
        $("#oa_menu").css('display', 'none');
        $("#sys_menu").css('display', 'none');
        $("#edu_menu").css('display', 'none');
        if (select_val == 'sys') {
            $("#sys_menu").css('display', 'block');
        }
        if (select_val == 'oa') {
            $("#oa_menu").css('display', 'block');
        }
        if (select_val == 'edu') {
            $("#edu_menu").css('display', 'block');
        }
    }
</script>
<div class="closeLeftNav" id="closeLeftNav">
	<i class="fa fa-bars"></i>
</div>
<div class="layui-left-box">
	<div class="navBar layui-side-scroll" style="height: 768px;">
		<select style="color: red" onchange="alert('除系统菜单外其它未开发')" id="selectsystem_id">
			<option value="sys">系统</option>
			<option value="edu">教育</option>
			<option value="oa">企业</option>
		</select>
		<ul class="layui-nav layui-nav-tree" id="edu_menu" style="display: none">
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa  fa-cogs"></i>
					<cite>教育</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="">
							<i class="fa fa-circle-o"></i>
							<cite>未开发</cite>
						</a>
					</dd>
				</dl>
				
			</li>
		</ul>
		<ul class="layui-nav layui-nav-tree" id="oa_menu" style="display: none">
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa  fa-cogs"></i>
					<cite>企业</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="">
							<i class="fa fa-circle-o"></i>
							<cite>未开发</cite>
						</a>
					</dd>
				</dl>
				
			</li>
		</ul>
		<ul class="layui-nav layui-nav-tree">
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa  fa-cogs"></i>
					<cite>系统基础管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/role/role_do/index.do">
							<i class="fa fa-circle-o"></i>
							<cite>角色管理</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/res/res_do/index.do">
							<i class="fa fa-circle-o"></i>
							<cite>菜单管理</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/user/user_do/index.do">
							<i class="fa fa-user"></i>
							<cite>用户管理</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/thirdoartlogin_do/index.do">
							<i class="fa fa-user"></i>
							<cite>社交管理</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa  fa-wrench"></i>
					<cite>开发工具</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/sys/generator_do/index.do">
							<i class="fa fa-circle-o"></i>
							<cite>代码生成</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/swagger-ui.html">
							<i class="fa fa-circle-o"></i>
							<cite>API文档</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/common/qrcode/index.do">
							<i class="fa fa-circle-o"></i>
							<cite>二维码</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa fa-file-image-o"></i>
					<cite>OSS管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/sys/oss_do/index.do">
							<i class="fa fa-circle-o"></i>
							<cite>OSS设置</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa fa-tasks"></i>
					<cite>任务管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/sys/schedule_do/index.do">
							<i class="fa fa-circle-o"></i>
							<cite>定时任务</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/sys/scheduleLog_do/index.do">
							<i class="fa fa-circle-o"></i>
							<cite>任务记录</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa fa-wechat"></i>
					<cite>微信</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/weixin/tags/index.do">
							<i class="fa fa-circle-o"></i>
							<cite>微信标签管理</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/weixin/menu_do/index.do">
							<i class="fa fa-circle-o"></i>
							<cite>微信菜单管理</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa fa-television"></i>
					<cite>系统监控管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/druid/index.html">
							<i class="fa fa-eye"></i>
							<cite>连接池监控访问监控</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/monitoring">
							<i class="fa fa-eye"></i>
							<cite>服务器监控</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/jk">
							<i class="fa fa-eye"></i>
							<cite>springboot 监控</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="fa fa-television"></i>
					<cite>工作流管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/models/model_do/index.do">
							<i class="fa fa-eye"></i>
							<cite>流程设计模型管理</cite>
						</a>
					</dd>
				</dl>
			</li>
			<span class="layui-nav-bar" style="top: 157.5px; height: 0px; opacity: 0;"></span>
		</ul>
	</div>
</div>