<div class="closeLeftNav" id="closeLeftNav">
	<i class="iconfont icon-sanhang"></i>
</div>
<div class="layui-left-box">
	<div class="navBar layui-side-scroll" style="height: 768px;">
		<select class="" onchange="selectsystem()" id="selectsystem_id">
			<option value="sys">系统</option>
			<option value="edu">教育</option>
			<option value="oa">企业</option>
		</select>
		<ul class="layui-nav layui-nav-tree">
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="iconfont icon-jigou" data-icon="icon-jigou"></i>
					<cite>系统基础管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/role/role_do/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>角色管理</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/res/res_do/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>菜单管理</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/user/user_do/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>用户管理</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/thirdoartlogin_do/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>社交管理</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="iconfont icon-jigou" data-icon="icon-jigou"></i>
					<cite>开发工具</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/sys/generator_do/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>代码生成</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/swagger-ui.html">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>API文档</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/common/qrcode/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>二维码</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="iconfont icon-jigou" data-icon="icon-jigou"></i>
					<cite>OSS管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/sys/oss_do/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>OSS设置</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="iconfont icon-jigou" data-icon="icon-jigou"></i>
					<cite>任务管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/sys/schedule_do/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>定时任务</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/sys/scheduleLog_do/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>任务记录</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="iconfont icon-jigou" data-icon="icon-jigou"></i>
					<cite>微信</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/weixin/tags/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>微信标签管理</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/weixin/menu_do/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>微信菜单管理</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="iconfont icon-jigou" data-icon="icon-jigou"></i>
					<cite>系统监控管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/druid/index.html">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>连接池监控访问监控</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/monitoring">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>服务器监控</cite>
						</a>
					</dd>
				</dl>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/jk">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>springboot 监控</cite>
						</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">
					<i class="iconfont icon-jigou" data-icon="icon-jigou"></i>
					<cite>工作流管理</cite>
					<span class="layui-nav-more"></span>
				</a>
				<dl class="layui-nav-child">
					<dd class="">
						<a href="javascript:;" data-url="/models/model_do/index.do">
							<i class="iconfont icon-ziliao" data-icon="icon-ziliao"></i>
							<cite>流程设计模型管理</cite>
						</a>
					</dd>
				</dl></li>
			<span class="layui-nav-bar" style="top: 157.5px; height: 0px; opacity: 0;"></span>
		</ul>
	</div>
</div>