<!-- <header class="header bg-primary lter text-center clearfix">
							<div class="btn-group">
							系统菜单
							</div>
						</header> -->
<section class="w-f scrollable">
	<div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
		<!-- nav -->
		<nav class="nav-primary hidden-xs">
			<ul class="nav">
				<li>
					<a href="javascript:void(0)">
						<i class="fa fa-wechat icon">
							<b class="dker bg-primary"></b>
						</i>
						<span class="pull-right">
							<i class="fa fa-bookmark-o text-active"></i>
						</span>
						<span>微信</span>
					</a>
					<ul class="nav lt">
						<li class="active">
							<a href="javascript:void(0)" class="active" nav-n="微信,微信设置,/weixin/weixinsetting_do/index.do?id=a1de7ebbde7646849fa59785610dfee8">
								<i class="fa fa-angle-right"></i>
								<span>微信设置</span>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="">
					<a href="javascript:void(0)" class="">
						<i class="fa fa-low-vision icon">
							<b class="dker bg-warning"></b>
						</i>
						<span class="pull-right">
							<i class="fa fa-bookmark-o text-active"></i>
						</span>
						<span>系统监控管理</span>
					</a>
					<ul class="nav lt" style="display: none;">
						<li class="">
							<a target="_blank" href="/druid/index.html" class="">
								<i class="fa fa-angle-right"></i>
								<span>连接池监控访问监控</span>
							</a>
						</li>
						<li class="">
							<a target="_blank" href="/monitoring" class="">
								<i class="fa fa-angle-right"></i>
								<span>服务器监控</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="active">
					<a href="javascript:void(0)" class="active">
						<i class="fa fa-desktop icon">
							<b class="dk bg-warning"></b>
						</i>
						<span class="pull-right">
							<i class="fa fa-bookmark-o text-active"></i>
						</span>
						<span>系统基础管理</span>
					</a>
					<ul class="nav lt" style="display: block;">
						<li class="">
							<a href="javascript:void(0)" class="" nav-n="系统基础管理,角色管理,/role/role_do/index.do?id=3">
								<i class="fa fa-angle-right"></i>
								<span>角色管理</span>
							</a>
						</li>
						<li class="">
							<a href="javascript:void(0)" class="" nav-n="系统基础管理,菜单管理,/res/res_do/index.do?id=4">
								<i class="fa fa-angle-right"></i>
								<span>菜单管理</span>
							</a>
						</li>
						<li class="active">
							<a href="javascript:void(0)" class="active" nav-n="系统基础管理,用户管理,/user/user_do/index.do?id=2">
								<i class="fa fa-angle-right"></i>
								<span>用户管理</span>
							</a>
						</li>
					</ul>
				</li>
				
				<li>
					<a href="javascript:void(0)">
						<i class="fa fa-wechat icon">
							<b class="dker bg-primary"></b>
						</i>
						<span class="pull-right">
							<i class="fa fa-bookmark-o text-active"></i>
						</span>
						<span>开发工具</span>
					</a>
					<ul class="nav lt">
						<li class="active">
							<a href="javascript:void(0)" class="active" nav-n="开发工具,代码生成,/sys/generator_do/index.do">
								<i class="fa fa-angle-right"></i>
								<span>代码生成</span>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="">
					<a href="javascript:void(0)" class="">
						<i class="fa fa-building-o icon">
							<b class="lt bg-warning"></b>
						</i>
						<span class="pull-right">
							<i class="fa fa-bookmark-o text-active"></i>
						</span>
						<span>企业管理</span>
					</a>
					<ul class="nav lt" style="display: none;">
						<li class="active">
							<a href="javascript:void(0)" class="active" nav-n="企业管理,部门管理,/org/department_do/index.do?id=45ef14b2bcb84bcdbddd25be0e045b26">
								<i class="fa fa-angle-right"></i>
								<span>部门管理</span>
							</a>
						</li>
						<li class="active">
							<a href="javascript:void(0)" class="active" nav-n="企业管理,企业管理初始化,/org/compamy_do/index.do?id=5dd60cc1087447d9b215d91fbe1856f9">
								<i class="fa fa-angle-right"></i>
								<span>企业管理初始化</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="javascript:void(0)" class="">
						<i class="fa fa-building-o icon">
							<b class="lt bg-warning"></b>
						</i>
						<span class="pull-right">
							<i class="fa fa-bookmark-o text-active"></i>
						</span>
						<span>任务管理</span>
					</a>
					<ul class="nav lt" style="display: none;">
						<li class="active">
							<a href="javascript:void(0)" class="active" nav-n="任务管理,定时任务,/sys/schedule_do/index.do">
								<i class="fa fa-angle-right"></i>
								<span>定时任务</span>
							</a>
						</li>
						<li class="active">
							<a href="javascript:void(0)" class="active" nav-n="任务管理,任务记录,/sys/scheduleLog_do/index.do">
								<i class="fa fa-angle-right"></i>
								<span>任务记录</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- / nav -->
	</div>
</section>
<footer class="footer lt hidden-xs b-t b-dark">
	<div id="chat" class="dropup">
		<section class="dropdown-menu on aside-md m-l-n">
			<section class="panel bg-white">
				<header class="panel-heading b-b b-light">Active chats</header>
				<div class="panel-body animated fadeInRight">
					<p class="text-sm">No active chats.</p>
					<p>
						<a href="#" class="btn btn-sm btn-default">Start a chat</a>
					</p>
				</div>
			</section>
		</section>
	</div>
	<div id="invite" class="dropup">
		<section class="dropdown-menu on aside-md m-l-n">
			<section class="panel bg-white">
				<header class="panel-heading b-b b-light">
					John
					<i class="fa fa-circle text-success"></i>
				</header>
				<div class="panel-body animated fadeInRight">
					<p class="text-sm">No contacts in your lists.</p>
					<p>
						<a href="#" class="btn btn-sm btn-facebook">
							<i class="fa fa-fw fa-facebook"></i>
							Invite from Facebook
						</a>
					</p>
				</div>
			</section>
		</section>
	</div>
	<a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon">
		<i class="fa fa-angle-left text"></i>
		<i class="fa fa-angle-right text-active"></i>
	</a>
	<div class="btn-group hidden-nav-xs">
		<button type="button" title="Chats" class="btn btn-icon btn-sm btn-dark" data-toggle="dropdown" data-target="#chat">
			<i class="fa fa-comment-o"></i>
		</button>
		<button type="button" title="Contacts" class="btn btn-icon btn-sm btn-dark" data-toggle="dropdown" data-target="#invite">
			<i class="fa fa-facebook"></i>
		</button>
	</div>
</footer>
<script type="text/javascript">
    function SYSTERMINTT() {
        //修改时间2015年10月13日14:32:57
        //修改在手机上点击菜单后菜单不关闭问题
        //修改人赵雷
        var winwidth = $("body").width();
        if (winwidth < 770) {
            $("#nav ul.lt li").click(function() {
                $("#nav").removeClass("nav-off-screen");
            });
        }
        //---------修改人赵雷完毕----------
        var tb = $("#loadhtml");
        tb.html(CommnUtil.loadingImg());
        tb.load(rootPath + "/common/login_do/welcome.do");
        $("[nav-n]").each(function() {
            $(this).bind("click", function() {
                var nav = $(this).attr("nav-n");
                var sn = nav.split(",");
                var html = '<li><i class="fa fa-home"></i>';
                html += '<a href="/common/login_do/index.do">Home</a></li>';
                for (var i = 0; i < 2; i++) {
                    html += '<li><a href="javascript:void(0)">' + sn[i] + '</a></li>';
                }
                $("#topli").html(html);
                var tb = $("#loadhtml");
                tb.html(CommnUtil.loadingImg());
                tb.load(rootPath + sn[2]);
            });
        });
    }
    SYSTERMINTT();
</script>