
<section class="content">
	<h2 class="page-header">使用指南</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="box box-default">
				<div class="box-header with-border">
					<i class="fa fa-warning"></i>
					<h3 class="box-title">关于项目</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4>
							<i class="icon fa fa-ban"></i>
							禁止申请专利声明，否则追究法律责任!
						</h4>
						项目主页：
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg">http://git.oschina.net/SYDeament/88ybg</a>
					</div>
					<div class="alert alert-info alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4>
							<i class="icon fa fa-info"></i>
							文档地址
						</h4>
						项目文档
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/Home">http://git.oschina.net/SYDeament/88ybg/wikis/Home</a>
					</div>
					<div class="alert alert-warning alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4>
							<i class="icon fa fa-warning"></i>
							项目附件
						</h4>
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/attach_files">http://git.oschina.net/SYDeament/88ybg/attach_files</a>
					</div>
					<div class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4>
							<i class="icon fa fa-check"></i>
							正式服务器地址
						</h4>
						<a target="_blank" href="http://www.88ybg.com">http://www.88ybg.com</a>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
		<div class="col-md-6">
			<div class="box box-default">
				<div class="box-header with-border">
					<i class="fa fa-bullhorn"></i>
					<h3 class="box-title">其他</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="callout callout-danger">
						<h4>连接池监控帐号密码</h4>
						<p>admin admin</p>
					</div>
					<div class="callout callout-info">
						<h4>服务器监控帐号密码</h4>
						<p>admin pwd</p>
					</div>
					<div class="callout callout-warning">
						<h4>项目进度</h4>
						<p>
							<a target="_blank" href="http://naotu.baidu.com/file/e7c9fd74cddb6c98de699ca0400f322d?token=dde6e1dcb04e587d">项目最新进度</a>
						</p>
						<p>
							<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/graph/master">项目网络图</a>
						</p>
					</div>
					<div class="callout callout-success">
						<h4>图标</h4>
						<p>
							<a target="_blank" href="http://fontawesome.io/icons/">图标库参考</a>
						</p>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- END ALERTS AND CALLOUTS -->
	<!-- START CUSTOM TABS -->
	<h2 class="page-header">其他信息</h2>
	<div class="row">
		<div class="col-md-6">
			<!-- Custom Tabs -->
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#tab_1" data-toggle="tab">收费Q群</a>
					</li>
					<li>
						<a href="#tab_2" data-toggle="tab">免费Q群</a>
					</li>
					<li>
						<a href="#tab_3" data-toggle="tab">赞助我</a>
					</li>
					<li>
						<a href="#tab_4" data-toggle="tab">BUG提交</a>
					</li>
					<li>
						<a href="#tab_5" data-toggle="tab">测试公众号</a>
					</li>
					<li>
						<a href="#tab_6" data-toggle="tab">测试订阅号</a>
					</li>
					<!--  
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Dropdown
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Another action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Something else here</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Separated link</a>
							</li>
						</ul>
					</li>-->
					<li class="pull-right">
						<a href="#" class="text-muted">
							<i class="fa fa-gear"></i>
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<b>欢迎加入:</b>
						<p>
							<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=64dfe4d0de68ed3d00aaa7c7210cbfa90d98b38b817d209490c1307e063040c2">
								<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="88ybgSpring天下第一" title="88ybgSpring天下第一">
							</a>
							或者
							<img alt="" src="/img/welcome/QQqun.png" />
						</p>
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_2">
						<b>欢迎加入:</b>
						<p>
							<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=d95cc9c1fc03e766519bc9a38b379442bee0c70e540664e692c7f3f23fc958b5">
								<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="88ybg_2" title="88ybg_2">
							</a>
							或者
							<img alt="" src="/img/welcome/QQqun2.png" />
						</p>
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_3">
						<img src="/img/welcome/weixinpay.png" width="300" />
					</div>
					<div class="tab-pane" id="tab_4" style="height: 300px">
						<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=3Kurq-Ktq7muqKW9sqWpnK2t8r_zsQ" style="text-decoration: none;">
							<img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png" />
						</a>
					</div>
					<div class="tab-pane" id="tab_5">
						<img alt="" src="/img/welcome/gzh.jpg" />
					</div>
					<div class="tab-pane" id="tab_6">
						<img alt="" src="/img/welcome/dyh.jpg" />
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div>
			<!-- nav-tabs-custom -->
		</div>
		<!-- /.col -->
		<div class="col-md-6">
			<!-- Custom Tabs (Pulled to the right) -->
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs pull-right">
					<li class="active">
						<a href="#tab_1-1" data-toggle="tab">介绍</a>
					</li>
					<li>
						<a href="#tab_2-2" data-toggle="tab">设计思想</a>
					</li>
					<li>
						<a href="#tab_3-2" data-toggle="tab">友情链接</a>
					</li>
					<!-- 
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Dropdown
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Another action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Something else here</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Separated link</a>
							</li>
						</ul>
					</li> -->
					<li class="pull-left header">
						<i class="fa fa-th"></i>
						项目介绍
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1-1">
						<b>简介:</b>
						以SpringBoot 为中心，模块化开发系统，用户可以随意删减除权限框架外 任意的系统模块。复用，组装性强。2种打包方式，传统可运行的tomcat目录 以及直接jar 方式运行。主要应用技术：SpringSecurity+Ehcache+quartz+swagger2+Mysql5.6.... 主要包含系统全方位监控，权限管理。定时任务，API在线接口，OSS云存储，第三方登录，在线支付,代码生成，工作流等内容。文档较全，适合单机型框架开发
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_2-2">模块化设计。兼容性强，支持多数据源。可扩展成spring cloud 分布式。</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_3-2">暂无</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div>
			<!-- nav-tabs-custom -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- END CUSTOM TABS -->
	<!-- END PROGRESS BARS -->
	<!-- START ACCORDION & CAROUSEL-->
	<h2 class="page-header">Bootstrap Accordion & Carousel</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Collapsible Accordion</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="box-group" id="accordion">
						<!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
						<div class="panel box box-primary">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Collapsible Group Item #1 </a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="box-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="panel box box-danger">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Collapsible Group Danger </a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="box-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
						<div class="panel box box-success">
							<div class="box-header with-border">
								<h4 class="box-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Collapsible Group Success </a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse">
								<div class="box-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
		<div class="col-md-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Carousel</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
							<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img src="http://placehold.it/900x500/39CCCC/ffffff&text=I+Love+Bootstrap" alt="First slide">
								<div class="carousel-caption">First Slide</div>
							</div>
							<div class="item">
								<img src="http://placehold.it/900x500/3c8dbc/ffffff&text=I+Love+Bootstrap" alt="Second slide">
								<div class="carousel-caption">Second Slide</div>
							</div>
							<div class="item">
								<img src="http://placehold.it/900x500/f39c12/ffffff&text=I+Love+Bootstrap" alt="Third slide">
								<div class="carousel-caption">Third Slide</div>
							</div>
						</div>
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="fa fa-angle-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="fa fa-angle-right"></span>
						</a>
					</div>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
	<!-- END ACCORDION & CAROUSEL-->
	<!-- START TYPOGRAPHY -->
	<h2 class="page-header">Typography</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Headlines</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<h1>h1. Bootstrap heading</h1>
					<h2>h2. Bootstrap heading</h2>
					<h3>h3. Bootstrap heading</h3>
					<h4>h4. Bootstrap heading</h4>
					<h5>h5. Bootstrap heading</h5>
					<h6>h6. Bootstrap heading</h6>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
		<div class="col-md-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Text Emphasis</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<p class="lead">Lead to emphasize importance</p>
					<p class="text-green">Text green to emphasize success</p>
					<p class="text-aqua">Text aqua to emphasize info</p>
					<p class="text-light-blue">Text light blue to emphasize info (2)</p>
					<p class="text-red">Text red to emphasize danger</p>
					<p class="text-yellow">Text yellow to emphasize warning</p>
					<p class="text-muted">Text muted to emphasize general</p>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-md-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Block Quotes</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<blockquote>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
						<small>
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</small>
					</blockquote>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
		<div class="col-md-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Block Quotes Pulled Right</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body clearfix">
					<blockquote class="pull-right">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
						<small>
							Someone famous in
							<cite title="Source Title">Source Title</cite>
						</small>
					</blockquote>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-md-4">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Unordered List</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Integer molestie lorem at massa</li>
						<li>Facilisis in pretium nisl aliquet</li>
						<li>
							Nulla volutpat aliquam velit
							<ul>
								<li>Phasellus iaculis neque</li>
								<li>Purus sodales ultricies</li>
								<li>Vestibulum laoreet porttitor sem</li>
								<li>Ac tristique libero volutpat at</li>
							</ul>
						</li>
						<li>Faucibus porta lacus fringilla vel</li>
						<li>Aenean sit amet erat nunc</li>
						<li>Eget porttitor lorem</li>
					</ul>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
		<div class="col-md-4">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Ordered Lists</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<ol>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Integer molestie lorem at massa</li>
						<li>Facilisis in pretium nisl aliquet</li>
						<li>
							Nulla volutpat aliquam velit
							<ol>
								<li>Phasellus iaculis neque</li>
								<li>Purus sodales ultricies</li>
								<li>Vestibulum laoreet porttitor sem</li>
								<li>Ac tristique libero volutpat at</li>
							</ol>
						</li>
						<li>Faucibus porta lacus fringilla vel</li>
						<li>Aenean sit amet erat nunc</li>
						<li>Eget porttitor lorem</li>
					</ol>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
		<div class="col-md-4">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Unstyled List</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<ul class="list-unstyled">
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Integer molestie lorem at massa</li>
						<li>Facilisis in pretium nisl aliquet</li>
						<li>
							Nulla volutpat aliquam velit
							<ul>
								<li>Phasellus iaculis neque</li>
								<li>Purus sodales ultricies</li>
								<li>Vestibulum laoreet porttitor sem</li>
								<li>Ac tristique libero volutpat at</li>
							</ul>
						</li>
						<li>Faucibus porta lacus fringilla vel</li>
						<li>Aenean sit amet erat nunc</li>
						<li>Eget porttitor lorem</li>
					</ul>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-md-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Description</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<dl>
						<dt>Description lists</dt>
						<dd>A description list is perfect for defining terms.</dd>
						<dt>Euismod</dt>
						<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
						<dd>Donec id elit non mi porta gravida at eget metus.</dd>
						<dt>Malesuada porta</dt>
						<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
					</dl>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
		<div class="col-md-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>
					<h3 class="box-title">Description Horizontal</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<dl class="dl-horizontal">
						<dt>Description lists</dt>
						<dd>A description list is perfect for defining terms.</dd>
						<dt>Euismod</dt>
						<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
						<dd>Donec id elit non mi porta gravida at eget metus.</dd>
						<dt>Malesuada porta</dt>
						<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
						<dt>Felis euismod semper eget lacinia</dt>
						<dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
					</dl>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- ./col -->
	</div>
	<!-- /.row -->
	<!-- END TYPOGRAPHY -->
</section>