 欢迎来到88云报告
<div class="row">
	<div class="col-xs-6">
		<h4>随便打赏点吃饭钱吧</h4>
		<p>
			<img src="/img/welcome/weixinpay.png" width="300" />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	BUG 提交
			<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=3Kurq-Ktq7muqKW9sqWpnK2t8r_zsQ" style="text-decoration: none;">
				<img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png" />
			</a>
		</p>
		<p>
			一个独立开发的团队
			<br>
			Deament ，中国 广东
		</p>
		<p>
			电话号码: 88888888
			<br>
			团队微信: Deament
		</p>
		<p>
			QQ群（收费）：
			<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=64dfe4d0de68ed3d00aaa7c7210cbfa90d98b38b817d209490c1307e063040c2">
				<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="88ybgSpring天下第一" title="88ybgSpring天下第一">
			</a>
			或者
			<img alt="" src="/img/welcome/QQqun.png" />
			
		</p>
		<p>
		QQ群2（免费）：
		<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=d95cc9c1fc03e766519bc9a38b379442bee0c70e540664e692c7f3f23fc958b5"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="88ybg_2" title="88ybg_2"></a>
		或者
			<img alt="" src="/img/welcome/QQqun2.png" />
		</p>
		<p>连接池监控帐号密码 admin admin</p>
		<p>服务器监控帐号密码 admin pwd</p>
		<div class="ui vertical menu with-header">
			<div class="header item">
				开发文档
				<div class="ui label"></div>
			</div>
			<div class="item">
				<div class="ui list bulleted" id="git-wiki-list">
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/A1-%E7%B3%BB%E7%BB%9F%E8%BF%90%E8%A1%8C%E8%B4%A6%E5%8F%B7">A1 系统运行账号</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/Home">Home</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/L1%E4%BA%8C%E6%AC%A1%E5%BC%80%E5%8F%91">L1二次开发</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/L2%E6%BA%90%E7%A0%81%E8%A7%A3%E6%9E%90(%E6%9C%AA%E5%86%99%E5%AE%8C%EF%BC%89">L2源码解析(未写完）</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/h1%E7%B3%BB%E7%BB%9F%E4%BB%8B%E7%BB%8D">h1系统介绍</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/h21%E4%BB%A3%E7%A0%81%E7%BB%93%E6%9E%84">h21代码结构</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/h2%E7%B3%BB%E7%BB%9F%E7%89%B9%E7%82%B9">h2系统特点</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/h3%E6%89%80%E7%94%A8%E6%8A%80%E6%9C%AF">h3所用技术</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/h4%E7%B3%BB%E7%BB%9F%E4%B8%BB%E8%A6%81%E5%8C%85%E5%9B%BE">h4系统主要包图</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/h5%E7%B3%BB%E7%BB%9F%E7%95%8C%E9%9D%A2">h5系统界面</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/h99%E4%BB%A3%E7%A0%81%E8%A7%84%E8%8C%83">h99代码规范</a>
					</div>
					
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/k1%E7%AC%AC%E4%B8%89%E6%96%B9%E7%99%BB%E9%99%86%E9%83%A8%E7%BD%B2%E8%AF%B4%E6%98%8E">k1第三方登陆部署说明</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/k2-%E4%BD%BF%E7%94%A8%E7%A0%81%E4%BA%91%E7%AC%AC%E4%B8%89%E6%96%B9%E8%B4%A6%E5%8F%B7%E7%99%BB%E9%99%86%E7%B3%BB%E7%BB%9F%E6%93%8D%E4%BD%9C%E6%96%87%E6%A1%A3">k2 使用码云第三方账号登陆系统操作文档</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/k3-%E4%BD%BF%E7%94%A8%E5%BE%AE%E4%BF%A1-%E7%99%BB%E9%99%86%E6%9C%AC%E7%B3%BB%E7%BB%9F-%E6%93%8D%E4%BD%9C%E6%8C%87%E5%8D%97">k3 使用微信 登陆本系统 操作指南</a>
					</div>	
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/k4-%E4%BD%BF%E7%94%A8%E7%99%BE%E5%BA%A6%E8%B4%A6%E5%8F%B7-%E7%99%BB%E9%99%86%E6%9C%AC%E7%B3%BB%E7%BB%9F-%E6%93%8D%E4%BD%9C%E6%8C%87%E5%8D%97">k4 使用百度账号 登陆本系统 操作指南</a>
					</div>		
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/k5-%E4%BD%BF%E7%94%A8%E8%85%BE%E8%AE%AF%E8%B4%A6%E5%8F%B7-%E7%99%BB%E9%99%86%E6%9C%AC%E7%B3%BB%E7%BB%9F-%E6%93%8D%E4%BD%9C%E6%8C%87%E5%8D%97">k5 使用腾讯账号 登陆本系统 操作指南</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/k6-%E4%BD%BF%E7%94%A8%E6%96%B0%E6%B5%AA%E8%B4%A6%E5%8F%B7-%E7%99%BB%E9%99%86%E6%9C%AC%E7%B3%BB%E7%BB%9F-%E6%93%8D%E4%BD%9C%E6%8C%87%E5%8D%97">k6 使用新浪账号 登陆本系统 操作指南</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/%E5%BC%80%E5%8F%91%E6%B3%A8%E6%84%8F">开发注意</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/%E5%BC%80%E5%A7%8B%E5%BC%80%E5%8F%91-SVN%E5%AF%BC%E5%85%A5%E9%A1%B9%E7%9B%AE">开始开发 SVN导入项目</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/%E5%BC%80%E5%A7%8B%E5%BC%80%E5%8F%91">开始开发</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/%E6%8F%90%E4%BA%A4%E5%8E%86%E5%8F%B2">提交历史</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/%E6%95%B0%E6%8D%AE%E5%BA%93%E8%AF%B4%E6%98%8E">数据库说明</a>
					</div>
					<div class="item">
						<a target="_blank" href="http://git.oschina.net/SYDeament/88ybg/wikis/%E9%83%A8%E7%BD%B2%E9%A1%B9%E7%9B%AE%E4%B8%8E%E8%B0%83%E8%AF%95">部署项目与调试</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-6 text-right">
		<p class="h4">成立时间</p>
		<h5>2016年 九月</h5>
	</div>
	
	<div class="col-xs-6 text-right">
		<p class="h4">CENTOS7 相关</p>
		<h5>centos 7 配置JDK8 http://www.cnblogs.com/hz-cww/p/6084496.html</h5>
		<h5>centos 7 vi操作 http://www.cnblogs.com/softwaretesting/archive/2011/07/12/2104435.html</h5>
	         开启防火墙。 端口
		
	</div>
</div>
<div class="well m-t">
	<div class="row">
		<div class="col-xs-6">
			<strong>企业服务项目:</strong>
			<h4>企业</h4>
			<p>
				提供部门管理
				<br>
				提供员工管理
				<br>
				员工工作报告
				<br>
				查看工作进度
				<br>
				项目管理
				<br>
				是否收费：长期不收费
				<br>
			</p>
		</div>
		<div class="col-xs-6">
			<strong>个人服务项目:</strong>
			<h4>员工</h4>
			<p>
				编写工作报告
				<br>
				编辑工作进度
				<br>
				分享工作经验
				<br>
				收藏工作经验
				<br>
				是否收费：长期不收费
				<br>
			</p>
		</div>
	</div>
</div>
<p class="m-t m-b">
	本系统开发情况:
	<strong>开发中</strong>
	<br>
	本系统正在开发的模块:
	<span class="label bg-success">企业管理</span>
	<br>
	编写日期:
	<strong>2017年五月30日</strong>
</p>
<div class="line"></div>
<table class="table">
	<thead>
		<tr>
			<th width="60">ID</th>
			<th>描述</th>
			<th width="140">开发时间</th>
			<th width="90">耗时</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>企业管理</td>
			<td>超管 创建企业</td>
			<td>2017年五月30日</td>
		</tr>
		<tr>
			<td>2</td>
			<td>部门管理</td>
			<td>超管 创建部门</td>
			<td>2017年五月30日</td>
		</tr>
		<tr>
			<td colspan="3" class="text-right">
				<strong>总耗时</strong>
			</td>
			<td>三个月</td>
		</tr>
		<tr>
			<td colspan="3" class="text-right no-border">
				<strong>中断事件</strong>
			</td>
			<td>三个月</td>
		</tr>
		<tr>
			<td colspan="3" class="text-right no-border">
				<strong>其他</strong>
			</td>
			<td>无</td>
		</tr>
		<tr>
			<td colspan="3" class="text-right no-border">
				<strong>编写人员</strong>
			</td>
			<td>
				<strong>超级管理员</strong>
			</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
    $("#topli").html("<li><i class=\"fa fa-home\"></i>Home</li>");
</script>