
<html>
<head>
<#include "/common/common2.ftl"/>
</head>
<body>
	<section class="content">
		<h2 class="page-header">使用指南</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="box box-default">
					<div class="box-header with-border">
						<i class="fa fa-warning"></i>
						<h3 class="box-title">关于项目</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="alert alert-danger alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<h4>
								<i class="icon fa fa-ban"></i>
								禁止申请专利声明，否则追究法律责任!
							</h4>
							项目主页：
							<a target="_blank" href="http://git.oschina.net/YYDeament/88ybg">http://git.oschina.net/YYDeament/88ybg</a>
						</div>
						<div class="alert alert-info alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<h4>
								<i class="icon fa fa-info"></i>
								文档地址
							</h4>
							项目文档
							<a target="_blank" href="http://git.oschina.net/YYDeament/88ybg/wikis/Home">http://git.oschina.net/YYDeament/88ybg/wikis/Home</a>
							<br>
							项目博客
							<a target="_blank" href="https://my.oschina.net/88ybg/blog">https://my.oschina.net/88ybg/blog</a>
						</div>
						<div class="alert alert-warning alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<h4>
								<i class="icon fa fa-warning"></i>
								项目附件
							</h4>
							<a target="_blank" href="http://git.oschina.net/YYDeament/88ybg/attach_files">http://git.oschina.net/YYDeament/88ybg/attach_files</a>
						</div>
						<div class="alert alert-success alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<h4>
								<i class="icon fa fa-check"></i>
								正式服务器地址
							</h4>
							<a target="_blank" href="http://www.88ybg.com">http://www.88ybg.com</a>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
			<div class="col-md-6">
				<div class="box box-default">
					<div class="box-header with-border">
						<i class="fa fa-bullhorn"></i>
						<h3 class="box-title">其他</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="callout callout-danger">
							<h4>连接池监控帐号密码</h4>
							<p>admin admin</p>
						</div>
						<div class="callout callout-info">
							<h4>服务器监控帐号密码</h4>
							<p>admin pwd</p>
						</div>
						<div class="callout callout-warning">
							<h4>项目进度</h4>
							<p>
								<a target="_blank" href="http://naotu.baidu.com/file/e7c9fd74cddb6c98de699ca0400f322d?token=dde6e1dcb04e587d">项目最新进度</a>
							</p>
							<p>
								<a target="_blank" href="http://git.oschina.net/YYDeament/88ybg/graph/master">项目网络图</a>
							</p>
						</div>
						<div class="callout callout-success">
							<h4>图标</h4>
							<p>
								<a target="_blank" href="http://fontawesome.io/icons/">图标库参考</a>
							</p>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		<!-- END ALERTS AND CALLOUTS -->
		<!-- START CUSTOM TABS -->
		<h2 class="page-header">其他信息</h2>
		<div class="row">
			<div class="col-md-6">
				<!-- Custom Tabs -->
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tab_1" data-toggle="tab">收费Q群</a>
						</li>
						<li>
							<a href="#tab_2" data-toggle="tab">免费Q群</a>
						</li>
						<li>
							<a href="#tab_3" data-toggle="tab">赞助我</a>
						</li>
						<li>
							<a href="#tab_4" data-toggle="tab">BUG提交</a>
						</li>
						<li>
							<a href="#tab_5" data-toggle="tab">测试公众号</a>
						</li>
						<li>
							<a href="#tab_6" data-toggle="tab">测试订阅号</a>
						</li>
						<!--  
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Dropdown
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Another action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Something else here</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Separated link</a>
							</li>
						</ul>
					</li>-->
						<li class="pull-right">
							<a href="#" class="text-muted">
								<i class="fa fa-gear"></i>
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_1">
							<b>欢迎加入:</b>
							<p>
								<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=64dfe4d0de68ed3d00aaa7c7210cbfa90d98b38b817d209490c1307e063040c2">
									<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="88ybgSpring天下第一" title="88ybgSpring天下第一">
								</a>
								或者
								<img alt="" src="/img/welcome/QQqun.png" />
							</p>
						</div>
						<!-- /.tab-pane -->
						<div class="tab-pane" id="tab_2">
							<b>欢迎加入:</b>
							<p>
								<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=d95cc9c1fc03e766519bc9a38b379442bee0c70e540664e692c7f3f23fc958b5">
									<img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="88ybg_2" title="88ybg_2">
								</a>
								或者
								<img alt="" src="/img/welcome/QQqun2.png" />
							</p>
						</div>
						<!-- /.tab-pane -->
						<div class="tab-pane" id="tab_3">
							<img src="/img/welcome/weixinpay.png" width="300" />
						</div>
						<div class="tab-pane" id="tab_4" style="height: 300px">
							<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=3Kurq-Ktq7muqKW9sqWpnK2t8r_zsQ" style="text-decoration: none;">
								<img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png" />
							</a>
						</div>
						<div class="tab-pane" id="tab_5">
							<img alt="" src="/img/welcome/gzh.jpg" />
						</div>
						<div class="tab-pane" id="tab_6">
							<img alt="" src="/img/welcome/dyh.jpg" />
						</div>
						<!-- /.tab-pane -->
					</div>
					<!-- /.tab-content -->
				</div>
				<!-- nav-tabs-custom -->
			</div>
			<!-- /.col -->
			<div class="col-md-6">
				<!-- Custom Tabs (Pulled to the right) -->
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs pull-right">
						<li class="active">
							<a href="#tab_1-1" data-toggle="tab">介绍</a>
						</li>
						<li>
							<a href="#tab_2-2" data-toggle="tab">设计思想</a>
						</li>
						<li>
							<a href="#tab_3-2" data-toggle="tab">友情链接</a>
						</li>
						<!-- 
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Dropdown
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Another action</a>
							</li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Something else here</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a role="menuitem" tabindex="-1" href="#">Separated link</a>
							</li>
						</ul>
					</li> -->
						<li class="pull-left header">
							<i class="fa fa-th"></i>
							项目介绍
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab_1-1">
							<b>简介:</b>
							以SpringBoot 为中心，模块化开发系统，用户可以随意删减除权限框架外 任意的系统模块。复用，组装性强。2种打包方式，传统可运行的tomcat目录 以及直接jar 方式运行。主要应用技术：SpringSecurity+Ehcache+quartz+swagger2+Mysql5.6.... 主要包含系统全方位监控，权限管理。定时任务，API在线接口，OSS云存储，第三方登录，在线支付,代码生成，工作流等内容。文档较全，适合单机型框架开发
						</div>
						<!-- /.tab-pane -->
						<div class="tab-pane" id="tab_2-2">模块化设计。兼容性强，支持多数据源。可扩展成spring cloud 分布式。</div>
						<!-- /.tab-pane -->
						<div class="tab-pane" id="tab_3-2">暂无</div>
						<!-- /.tab-pane -->
					</div>
					<!-- /.tab-content -->
				</div>
				<!-- nav-tabs-custom -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		<!-- END CUSTOM TABS -->
		<!-- END PROGRESS BARS -->
		<!-- START ACCORDION & CAROUSEL-->
		<h2 class="page-header">启动项目</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="box box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">默认端口8080</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="box-group" id="accordion">
							<!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
							<div class="panel box box-primary">
								<div class="box-header with-border">
									<h4 class="box-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">调试项目</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="box-body">右键 main 模块中的 App.java run as javaApplication 即可启动</div>
								</div>
							</div>
							<div class="panel box box-danger">
								<div class="box-header with-border">
									<h4 class="box-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> 打包成jar 启动 </a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="box-body">maven :单击quanmin_admin ,右键 maven build.., 执行 package 命令 打包成jar.详情见文档</div>
								</div>
							</div>
							<div class="panel box box-success">
								<div class="box-header with-border">
									<h4 class="box-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> 变成tomcat 目录启动（不推荐）</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="box-body">切换成tomcat 部署的 pom ,maven :单击quanmin_admin ,右键 maven build.., 执行 package 命令 打包.打包之后在 main 模块的 /src/main/webapp 该webapp就是tomcat 目录，自行再次打包成war 或者使用tomcat server.xml 指向即可。maven 打包命令出现的war是不可用的</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
			<div class="col-md-6">
				<div class="box box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">系统特点</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
								<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
							</ol>
							<div class="carousel-inner">
								<div class="item active">
									<img src="" alt="模块化">
									<div class="carousel-caption">模块化</div>
								</div>
								<div class="item">
									<img src="" alt="简单">
									<div class="carousel-caption">简单</div>
								</div>
								<div class="item">
									<img src="" alt="兼容强">
									<div class="carousel-caption">兼容强</div>
								</div>
							</div>
							<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
								<span class="fa fa-angle-left"></span>
							</a>
							<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
								<span class="fa fa-angle-right"></span>
							</a>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		<!-- END ACCORDION & CAROUSEL-->
		<!-- START TYPOGRAPHY -->
		<h2 class="page-header">框架学习难度</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="box box-solid">
					<div class="box-header with-border">
						<i class="fa fa-text-width"></i>
						<h3 class="box-title">难度级别：较难</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<h1>1.框架适合一年以上开发经验学习，初学者 入门较难</h1>
						<h2>2.使用springboot 框架，无经验者 请先学习 springboot</h2>
						<!--  <h3>h3. Bootstrap heading</h3>
					<h4>h4. Bootstrap heading</h4>
					<h5>h5. Bootstrap heading</h5>
					<h6>h6. Bootstrap heading</h6>-->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- ./col -->
			<div class="col-md-6">
				<div class="box box-solid">
					<div class="box-header with-border">
						<i class="fa fa-text-width"></i>
						<h3 class="box-title">技术选型概要</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<p class="lead">为什么不用 Shiro? 本系统面向spring 系列，尽量少用 非 Spring 框架</p>
						<p class="text-green">为什么不用 Mybatis? 个人认为 Springjdbc 开发更方便</p>
						<p class="text-aqua">为什么使用Mysql?mysql 很小，很方便</p>
						<!-- 
					<p class="text-light-blue"></p>
					<p class="text-red">Text red to emphasize danger</p>
					<p class="text-yellow">Text yellow to emphasize warning</p>
					<p class="text-muted">Text muted to emphasize general</p> -->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- ./col -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-6">
				<div class="box box-solid">
					<div class="box-header with-border">
						<i class="fa fa-text-width"></i>
						<h3 class="box-title">对喜欢框架的人想说的话</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<blockquote>
							<p>人生啊 像这样的瞬间有很多 和自己认为的完全相反的现实 学校也好 公司也好 恋爱也好 人都是只想像对自己好的现实 然后突然有一天察觉到这不过是会错意了 这就是实验你人性力的瞬间啊 现在在你面前只有两条路 第一条 到了此时仍然躲避于幻想之中 第二条 虽然痛苦却认清现实 然后再一次咬紧牙关 从零开始重新来过 这是你的人生 按你自己喜欢的决定</p>
							<small>
								《龙樱》
								<cite title="Source Title">经典语录</cite>
							</small>
						</blockquote>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- ./col -->
			<div class="col-md-6">
				<div class="box box-solid">
					<div class="box-header with-border">
						<i class="fa fa-text-width"></i>
						<h3 class="box-title">对喜欢框架的人想说的话</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body clearfix">
						<blockquote class="pull-right">
							<p>成功的人本来就有才能，自己本来就是个平凡的人再怎么努力也是没用的，这些东西 到底在多大程度上束缚了一个人啊，在这个世界上没有跨不过去的墙啊，所以，你们无论做 什么的时候一定不要抱有我做不到的这种观念。</p>
							<small>
								《龙樱》
								<cite title="Source Title">经典语录</cite>
							</small>
						</blockquote>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- ./col -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-4">
				<div class="box box-solid">
					<div class="box-header with-border">
						<i class="fa fa-text-width"></i>
						<h3 class="box-title">多数据源</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<ul>
							<li>quanmin_sys 系统数据库</li>
							<li>quanmin_quartz 定时任务数据库</li>
							<li>quanming_edu 教育子系统</li>
							<li>quanming_oa 办公子系统数据库</li>
							<li>
								数据库要求
								<ul>
									<li>mysql 5.6+</li>
									<li>编码utf-8</li>
								</ul>
							</li>
							<li>可自定义其他数据源</li>
							<li>可以添加 oracle ,sqlserver 等</li>
							<li>切换方便</li>
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- ./col -->
			<div class="col-md-4">
				<div class="box box-solid">
					<div class="box-header with-border">
						<i class="fa fa-text-width"></i>
						<h3 class="box-title">系统功能</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<ul>
							<li>用户管理</li>
							<li>角色管理</li>
							<li>授权资源管理</li>
							<li>OSS管理</li>
							<li>
								开发工具
								<ol>
									<li>代码生成</li>
									<li>Swagger 在线文档API</li>
									<li>二维码</li>
								</ol>
							</li>
							<li>
								系统监控
								<ol>
									<li>javamelody 服务器监控</li>
									<li>druid 数据源监控</li>
									<li>springbootadmin 应用监控</li>
								</ol>
							</li>
							<li>工作流</li>
							<li>微信管理</li>
							<li>第三方登陆</li>
							<li>定时任务管理</li>
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- ./col -->
			<div class="col-md-4">
				<div class="box box-solid">
					<div class="box-header with-border">
						<i class="fa fa-text-width"></i>
						<h3 class="box-title">技术选型</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<ul class="list-unstyled">
							<li>Springboot 1.5.X</li>
							<li>mysql</li>
							<li>jdk8</li>
							<li>maven</li>
							<li>adminlte 界面</li>
							<li>vue.js</li>
							<li>jquery</li>
							<li>freemarker</li>
							<li>ehcache</li>
							<li>spring</li>
							<li>springjdbc</li>
							<li>spring security</li>
							<li>layer.js</li>
							<li>bootstrap</li>
							<li>quartz</li>
							<li>activiti</li>
						</ul>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- ./col -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-md-6">
				<div class="box box-solid">
					<div class="box-header with-border">
						<i class="fa fa-text-width"></i>
						<h3 class="box-title">旧版本下载</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<dl>
							<dt>
								1.2 版本
								<a href="https://gitee.com/YYDeament/88ybg/repository/archive/1.2.0%E6%9C%80%E5%90%8E%E4%B8%80%E4%B8%AA%E7%89%88%E6%9C%AC" target="_blank">adminlte UI 版</a>
							</dt>
							
						</dl>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- ./col -->
			<div class="col-md-6">
				<div class="box box-solid">
					<div class="box-header with-border">
						<i class="fa fa-text-width"></i>
						<h3 class="box-title">相关链接</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<dl class="dl-horizontal">
							<dt>
								<a target="_blank" href="https://mp.weixin.qq.com/debug/cgi-bin/sandbox?t=sandbox/login">微信测试号申请</a>
							</dt>
							<dt>
								<a target="_blank" href="http://developer.baidu.com/console#app/project">百度互联</a>
							</dt>
							<dt>
								<a target="_blank" href="https://connect.qq.com">QQ互联</a>
							</dt>
							<dt>
								<a target="_blank" href="http://open.weibo.com/">新浪互联</a>
							</dt>
							<dt>
								<a target="_blank" href="https://openhome.alipay.com/platform/appDaily.htm?tab=account">支付宝沙箱</a>
							</dt>
							
							<dt>
								<a target="_blank" href="https://github.com/settings/developers">Github登陆</a>
							</dt>
							<dt>
								<a target="_blank" href="http://wiki.bsdn.org/dashboard.action">规则报表文档地址</a>
							</dt>
							<dt>
								<a target="_blank" href="https://tongji.baidu.com/web/welcome/ico?s=577038104fe0a8e00d90faee2f037aac">百度统计</a>
							</dt>
							<dt>
								<a target="_blank" href="https://gitee.com/jnyqy/lessons/tree/master">源码参考1</a>
							</dt>
							<dt>
								<a target="_blank" href="https://www.cnblogs.com/wuhaojie/p/6249585.html">VUE.JS使用例子</a>
							</dt>
						
						</dl>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- ./col -->
		</div>
		<!-- /.row -->
		<!-- END TYPOGRAPHY -->
	</section>
</body>
</html>
