<script type="text/javascript" src="/js/weixin/weixinsetting/list.js"></script>
<div class="m-b-md">
	<form class="layui-form-layui-form-pane" role="form" id="searchForm" name="searchForm">
		<div class="layui-form-item">
			<label class="control-label">
				<span class="h4 font-thin v-middle">账号:</span>
			</label>
			<input class="layui-input" id="username" name="username">
		</div>
	</form>
</div>
<header class="panel-heading">
	<div class="doc-buttons">
		<#list res as key> ${key.description!} </#list>
	</div>
</header>
<div class="table-responsive">
	<div id="paging" class="pagclass"></div>
</div>
<div id="callback_div" class="table-responsive" style="display: none;">
	<div id="paging_callback" class="pagclass"></div>
</div>
