
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<#include "/common/common2.ftl"/>
<script type="text/javascript" src="/js/system/role/add.js">
    
</script>
</head>
<body>
	<div class="l_err" style="width: 100%; margin-top: 2px;"></div>
	<form id="form" name="form" class="layui-form-layui-form-pane" method="post" action="/role/role_do/create.do">
		<section class="panel panel-default">
		<div class="panel-body">
			<div class="layui-form-item">
				<label class="layui-form-label">AppId</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input checkacc" placeholder="请输入AppId" name="name" id="name">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">密钥</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input checkacc" placeholder="请输入密钥" name="secret" id="secret">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">域名</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" placeholder="请输入域名" name="domain" id="domain">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">微信商API</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" placeholder="请输入域名" name="partnerkey" id="partnerkey">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">微信商通知地址</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" placeholder="请输入域名" name="notifyurl" id="notifyurl">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">商户ID</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" placeholder="请输入域名" name="mchid" id="mchid">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">范围</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" placeholder="请输入域名" name="scope" id="scope">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">状态</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" placeholder="请输入域名" name="state" id="state">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">回调地址</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" placeholder="请输入域名" name="redirecturi" id="redirecturi">
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
			<div class="layui-form-item">
				<label class="layui-form-label">是否使用</label>
				<div class="layui-input-block">
					<div class="btn-group m-r">
						<button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
							<span class="dropdown-label">是</span>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-select">
							<li class="">
								<a href="#">
									<input type="radio" name="isuse" value="0" checked="checked">
									是
								</a>
							</li>
							<li class="active">
								<a href="#">
									<input type="radio" name="isuse" value="1">
									否
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="line line-dashed line-lg pull-in"></div>
		</div>
		<footer class="panel-footer text-right bg-light lter">
		<button type="submit" class="btn btn-success btn-s-xs">提交</button>
		</footer> </section>
	</form>
</body>
</html>