@charset "utf-8";
/* CSS Document */


.tree {
	
	height: 27px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
}

.panel-heading {
	padding: 5px;
}

.panel {
	margin-bottom: 0px;
}
.table{
	margin: 0px;
}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td
	{
	word-break: keep-all;/*必须*/
	padding-bottom: 8px;
	padding-top: 8px;
	padding-right: 3px;
	
}
.ly_tree {
	
	height: 27px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
}