<li class="header">系統菜单</li>
<li class="treeview">
	<a href="#">
		<i class="fa  fa-cogs"></i>
		<span>我的企业</span>
		<span class="pull-right-container">
			<i class="fa fa-angle-left pull-right"></i>
		</span>
	</a>
	<ul class="treeview-menu">
		<li>
			<a href="javascript:void(0)" class="" nav-n="系统基础管理,角色管理,/role/role_do/index.do?id=3">
				<i class="fa fa-circle-o"></i>
				部门管理
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" class="" nav-n="系统基础管理,菜单管理,/res/res_do/index.do?id=4">
				<i class="fa fa-circle-o"></i>
				员工管理
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" class="active" nav-n="系统基础管理,用户管理,/user/user_do/index.do?id=2">
				<i class="fa fa-user"></i>
				邀请码
			</a>
		</li>
		
	</ul>
</li>
<li class="treeview">
	<a href="#">
		<i class="fa  fa-cogs"></i>
		<span>工作报告</span>
		<span class="pull-right-container">
			<i class="fa fa-angle-left pull-right"></i>
		</span>
	</a>
	<ul class="treeview-menu">
		<li>
			<a href="javascript:void(0)" class="" nav-n="系统基础管理,角色管理,/role/role_do/index.do?id=3">
				<i class="fa fa-circle-o"></i>
				我的报告
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" class="" nav-n="系统基础管理,菜单管理,/res/res_do/index.do?id=4">
				<i class="fa fa-circle-o"></i>
				工作安排
			</a>
		</li>
		<li>
			<a href="javascript:void(0)" class="active" nav-n="系统基础管理,用户管理,/user/user_do/index.do?id=2">
				<i class="fa fa-user"></i>
				我的经验
			</a>
		</li>
		
	</ul>
</li>
<script type="text/javascript">
    SYSTERMINTT();
</script>